/* Arrows styles */
.slick-prev::before, .slick-next::before{
    font-size: 25px;
    color: black;
}
.slick-prev{
    width: 50px;
    z-index: 40;
}

.slick-next{
    width: 45px;
    z-index: 40;
}

/* Dots Styles*/
.slick-dots li button:before {
    font-size:10px;
    color: gray;   
}

.slick-dots li.slick-active button:before {
    color: orange; 
}

@media (max-width: 600px){
    .slick-prev::before, .slick-next::before{
       display: none;
    }
}