.box {
    padding: 1rem;
    margin: 1rem;   
    background-color: aqua;
}

.grid-responsive{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
}

.product{
    padding: 1rem;
    background-color: blueviolet;
    color: white;
}

.cart-item{
    background-color: crimson;
    padding: 1rem;
    color: white;
}